--extra-index-url https://download.pytorch.org/whl/cu101
torch
torchvision
torchaudio
ipykernel
git+https://github.com/huggingface/transformers
accelerate
einops
peft
trl
bitsandbytes
matplotlib
pandas 
openpyxl
accelerate
bitsandbytes
